    <div id="main" class="about-container main">
        <img src="assets/images/about.jpg" class="banner" alt="">
        <h1 class="about-title">About Me</h1>
        <p class="center-text main center">
            When I'm not programing or working, I'm enjoying being a girl dad and a husband. I also love the outdoors
            and go camping and fishing every chance I get.
        </p>
        <p class="center-text main center">
            I enjoy learning new things and because of this I tend to be a jack of all trades. I first got into programing 
            just trying to find ways to make my job easier. I started with AutoHotKey buiding complex macros and even attempted
            to try and automate website testing with it. I quickly found out that AutoHotKey wasn't the correct tool for the job,
            and stated practicing with Python, where I was better able to acomplish this task.
        </p>
        <p class="center-text main center">
            While I was getting to know Python I was working on my SQL knowlege, and then shifted towards learning the Angular
            Framework. Once I got comfortable with the front-end side I wanted to wireup a back-end, and this is where I started
            looking into nodeJS mostly uitlizing expressJS.
        </p>
        <p class="center-text main center">
            From there I decided that I needed to shift towards learning C# and the .NET ecosystem, as this is the primary lanague
            that was used in the company i work for. I have been tinkering around with Blazor(Server/WASM/Hybrid), API and MAUI,
            where I am now increaseing my skill sets.
        </p>
    </div>