<div id="main" class="main">
  <img id="skills-img" src="assets/images/skills.jpg" alt="">
    <h1 class="skills-title">My Skills</h1>
</div>

<div class="container">
    <table class="table table-borderless" style="color: #DBE4EC;">
        <thead>
          <tr>
            <th scope="col">Frontend</th>
            <th scope="col">Backend</th>
            <th scope="col">Mobile</th>
            <th scope="col">Languages</th>
            <th scope="col other">Other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Angular</td>
            <td>.Net</td>
            <td>MAUI</td>
            <td>C#</td>
            <td class="other">Troubleshooting/Debugging</td>
          </tr>
          <tr>
            <td>Blazor</td>
            <td>ExpressJS</td>
            <td>Flutter</td>
            <td>TypeScript</td>
            <td class="other">Technical Support</td>
          </tr>
          <tr>
            <td>CSS</td>
            <td></td>
            <td></td>
            <td>Python</td>
            <td class="other">Time Management</td>
          </tr>
          <tr>
            <td>HTML</td>
            <td></td>
            <td></td>
            <td>Javascript</td>
            <td class="other">Communication</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>SQL</td>
            <td class="other">JIRA</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>AHK</td>
            <td class="other">Problem Solving</td>
          </tr>
        </tbody>
    </table>
    <br> <br>
</div>
