<!-- <div id="wrapper">
    <app-home id="a" class="panels"></app-home>

    <app-experience id="b" class="panels"></app-experience>
</div> -->


<div class="fixed">
    <app-navbar></app-navbar>
</div>
<div id="wrapper">
    <div id="a" class="panels">
        <app-home></app-home>
    </div>
    <div id="b" class="panels">
        <!-- <app-about id="about"></app-about> -->
    </div>
    <div id="c" class="panels">
        <app-about id="about"></app-about>
        <app-experience id="journey"></app-experience>
        <app-skills id="skills"></app-skills>

    </div>
    <!-- <div id="d" class="panels">
        <app-skills></app-skills>
    </div> -->
</div>